:root{    
    --background-color: #ddd;
    --foreground-color: #222;

    --font-color: #00bbff;
}

*{
    font-family: 'Raleway', sans-serif;
    line-height: 1.618em;
    font-size: 18px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px;
    margin-top: 3em;
    background-color: var(--background-color);
    color: var(--font-color);
    
}

a{
    color: var(--background-color);
    text-decoration: none;
}

a:hover{
    color: var(--font-color);
    transform: scale(1.1, 1.1);
    font-style: bold;
}

h1{
    color: var(--title-font-color);
    padding: 1em 1em;
}

h2, h3{
    color: var(--foreground-color);
    
}

header, main, footer{
    margin: 3em auto;
    max-width: 80vw;
    
}

header, footer{    
    background: var(--foreground-color);
    border-radius: 1em;
}

header{
    display: grid;
    grid-template-rows: 150px;
    justify-content: center;
    height: 300px;
    color: var(--font-color);
    font-size: 24pt;
}

header h1{
    font-size: 2em;
    
}

header span{
    padding: 0 2em;
    margin: auto auto 3em;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    background: var(--foreground-color);  
}
nav h2{
    margin: 0.5em 1em;
    padding: 0 1em;
    color: var(--font-color);
    font-size: 2em;
    font-family: 'Pacifico', cursive;
    flex-grow: 5;

}

nav a{
    margin: 1em 1em;
    padding: 0 1em;
    color: var(--background-color);
    font-size: 1.5em;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid var(--background-color);
    transition: transform 0.3s ease-in-out; 
   
}

nav a:hover{
    color: var(--foreground-color);
    background-color: var(--background-color);
    border-radius: 5px;
    transform: scale(1.3,1.3);
    transition: transformation 0.3 ease-in-out;    
}

section{
    margin: 1em 0;
    /* this adjusts where id links line up */
    padding-top: 2em;
    min-height: 20em;
    background: var(--foreground-color);
    border-radius: 1em;
}

#aboutMe, #contactInfo, #myProjects{
    min-height: 0;
    height: 3em;
    background-color: var(--background-color);
    
}

section h2{
    display: grid;
    margin: 0 auto;
    width: 20%;    
    justify-content: center;
    background-color: var(--background-color);
    border-radius: 5px;
}

#me{
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 0 3em;
}

#me img{
    height: 300px;
    border-radius: 5px;
    margin: 0 2em 2em;
}

p{
    
    font-size: 1.3em;
}
section > p {
    margin: 1em 2em;
}

#me > p{
    margin: 1em;
}



section ul{
    padding-left: 3em;
}

#projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1em;
    padding-bottom: 2em;
    padding-right: 1em;
    padding-left: 1em;
    
}

#projects article{
    background: var(--title-font-color);
    color: var(--foreground-color);
    padding: 1em;
    border-radius: 5%;
}

#projects article img{
    background: var(--foreground-color);
    width: 100%;
    height: 50%;
    border: 1px solid var(--background-color);
}
#projects article h3{
    display:grid;
    grid-template-rows: 1fr;
    justify-content: center;
}


footer{
    margin-top: 2em;
    margin-bottom: 1em;
    background: var(--foreground-color);
    color: #fff;
    padding: 1em 0;
    text-align: center;
    font: "Roboto";
}

footer #we{
    color: #e7276f;
}

footer #can{
    color: #009726;
}

footer #code{
    color: #0081bd;
}

footer #it{
    color: #f76c2c;
}